## Import

In [2]:
import pandas as pd
from hashlib import md5, sha256
import re

## Read and checkout dataset

In [3]:
df = pd.read_excel('Lop2_Extend.xlsx', header=[0])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 707 entries, 0 to 706
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Context     447 non-null    object
 1   Question    692 non-null    object
 2   Answer 1    692 non-null    object
 3   Answer 2    0 non-null      float64
 4   Unnamed: 4  20 non-null     object
 5   Unnamed: 5  0 non-null      float64
 6   Number      684 non-null    float64
 7   Date        6 non-null      float64
 8   Span        2 non-null      float64
dtypes: float64(5), object(4)
memory usage: 49.8+ KB

In [4]:
df = pd.read_excel('Lop2_Extend.xlsx', header=[0], index_col=[0, 1])
df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 707 entries, ('Một của hàng buổi sáng bán được 12 xe đạp, buổi chiều bán được 20 xe đạp.', ' Hỏi hai buổi cửa hàng bán được tất cả bao nhiêu xe đạp ?') to ('Hoa cân nặng 32kg, Mỹ cân nặng hơn Hoa 9kg.', 'Hỏi Mỹ cân nặng bao nhiêu ki-lô-gam ?')
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Answer 1    692 non-null    object
 1   Answer 2    0 non-null      float64
 2   Unnamed: 4  20 non-null     object
 3   Unnamed: 5  0 non-null      float64
 4   Number      684 non-null    float64
 5   Date        6 non-null      float64
 6   Span        2 non-null      float64
dtypes: float64(5), object(2)
memory usage: 47.5+ KB

In [5]:
df.head()

                                                                                                      Answer 1  \
Context                                            Question
Một của hàng buổi sáng bán được 12 xe đạp, buổi...  Hỏi hai buổi cửa hàng bán được tất cả bao nhiê...       32
                                                    Hỏi cửa hàng buổi chiều bán được nhiều hơn buổ...        8
                                                    Hỏi cửa hàng buổi sáng bán được ít hơn buổi ch...        8
Một của hàng sáng sớm bán được 12 xe đạp, xế ch...  Hỏi hai buổi cửa hàng bán được tất cả bao nhiê...       32
                                                    Hỏi cửa hàng buổi chiều bán được nhiều hơn buổ...        8

                                                                                                       Answer 2  \
Context                                            Question
Một của hàng buổi sáng bán được 12 xe đạp, buổi...  Hỏi hai buổi cửa hàng bán được tất cả bao nhiê...       NaN
                                                    Hỏi cửa hàng buổi chiều bán được nhiều hơn buổ...       NaN
                                                    Hỏi cửa hàng buổi sáng bán được ít hơn buổi ch...       NaN
Một của hàng sáng sớm bán được 12 xe đạp, xế ch...  Hỏi hai buổi cửa hàng bán được tất cả bao nhiê...       NaN
                                                    Hỏi cửa hàng buổi chiều bán được nhiều hơn buổ...       NaN

                                                                                                      Unnamed: 4  \
Context                                            Question
Một của hàng buổi sáng bán được 12 xe đạp, buổi...  Hỏi hai buổi cửa hàng bán được tất cả bao nhiê...        NaN
                                                    Hỏi cửa hàng buổi chiều bán được nhiều hơn buổ...        NaN
                                                    Hỏi cửa hàng buổi sáng bán được ít hơn buổi ch...        NaN
Một của hàng sáng sớm bán được 12 xe đạp, xế ch...  Hỏi hai buổi cửa hàng bán được tất cả bao nhiê...        NaN
                                                    Hỏi cửa hàng buổi chiều bán được nhiều hơn buổ...        NaN

                                                                                                       Unnamed: 5  \
Context                                            Question
Một của hàng buổi sáng bán được 12 xe đạp, buổi...  Hỏi hai buổi cửa hàng bán được tất cả bao nhiê...         NaN
                                                    Hỏi cửa hàng buổi chiều bán được nhiều hơn buổ...         NaN
                                                    Hỏi cửa hàng buổi sáng bán được ít hơn buổi ch...         NaN
Một của hàng sáng sớm bán được 12 xe đạp, xế ch...  Hỏi hai buổi cửa hàng bán được tất cả bao nhiê...         NaN
                                                    Hỏi cửa hàng buổi chiều bán được nhiều hơn buổ...         NaN

                                                                                                       Number  \
Context                                            Question
Một của hàng buổi sáng bán được 12 xe đạp, buổi...  Hỏi hai buổi cửa hàng bán được tất cả bao nhiê...     1.0
                                                    Hỏi cửa hàng buổi chiều bán được nhiều hơn buổ...     1.0
                                                    Hỏi cửa hàng buổi sáng bán được ít hơn buổi ch...     1.0
Một của hàng sáng sớm bán được 12 xe đạp, xế ch...  Hỏi hai buổi cửa hàng bán được tất cả bao nhiê...     1.0
                                                    Hỏi cửa hàng buổi chiều bán được nhiều hơn buổ...     1.0

                                                                                                       Date  \
Context                                            Question
Một của hàng buổi sáng bán được 12 xe đạp, buổi...  Hỏi hai buổi cửa hàng bán được tất cả bao nhiê...   NaN
                                                    Hỏi cửa hàng buổi chiều bán được nhiều hơn buổ...   NaN
                                                    Hỏi cửa hàng buổi sáng bán được ít hơn buổi ch...   NaN
Một của hàng sáng sớm bán được 12 xe đạp, xế ch...  Hỏi hai buổi cửa hàng bán được tất cả bao nhiê...   NaN
                                                    Hỏi cửa hàng buổi chiều bán được nhiều hơn buổ...   NaN

                                                                                                       Span
Context                                            Question
Một của hàng buổi sáng bán được 12 xe đạp, buổi...  Hỏi hai buổi cửa hàng bán được tất cả bao nhiê...   NaN
                                                    Hỏi cửa hàng buổi chiều bán được nhiều hơn buổ...   NaN
                                                    Hỏi cửa hàng buổi sáng bán được ít hơn buổi ch...   NaN
Một của hàng sáng sớm bán được 12 xe đạp, xế ch...  Hỏi hai buổi cửa hàng bán được tất cả bao nhiê...   NaN
                                                    Hỏi cửa hàng buổi chiều bán được nhiều hơn buổ...   NaN

## Processing

### Cleaning

In [6]:
df = df[['Answer 1', 'Number', 'Date', 'Span']]
df.rename(columns={'Answer 1': 'Answer', 'Span': 'Spans'}, inplace=True)
df.head()

                                                                                                      Answer  \
Context                                            Question
Một của hàng buổi sáng bán được 12 xe đạp, buổi...  Hỏi hai buổi cửa hàng bán được tất cả bao nhiê...     32
                                                    Hỏi cửa hàng buổi chiều bán được nhiều hơn buổ...      8
                                                    Hỏi cửa hàng buổi sáng bán được ít hơn buổi ch...      8
Một của hàng sáng sớm bán được 12 xe đạp, xế ch...  Hỏi hai buổi cửa hàng bán được tất cả bao nhiê...     32
                                                    Hỏi cửa hàng buổi chiều bán được nhiều hơn buổ...      8

                                                                                                       Number  \
Context                                            Question
Một của hàng buổi sáng bán được 12 xe đạp, buổi...  Hỏi hai buổi cửa hàng bán được tất cả bao nhiê...     1.0
                                                    Hỏi cửa hàng buổi chiều bán được nhiều hơn buổ...     1.0
                                                    Hỏi cửa hàng buổi sáng bán được ít hơn buổi ch...     1.0
Một của hàng sáng sớm bán được 12 xe đạp, xế ch...  Hỏi hai buổi cửa hàng bán được tất cả bao nhiê...     1.0
                                                    Hỏi cửa hàng buổi chiều bán được nhiều hơn buổ...     1.0

                                                                                                       Date  \
Context                                            Question
Một của hàng buổi sáng bán được 12 xe đạp, buổi...  Hỏi hai buổi cửa hàng bán được tất cả bao nhiê...   NaN
                                                    Hỏi cửa hàng buổi chiều bán được nhiều hơn buổ...   NaN
                                                    Hỏi cửa hàng buổi sáng bán được ít hơn buổi ch...   NaN
Một của hàng sáng sớm bán được 12 xe đạp, xế ch...  Hỏi hai buổi cửa hàng bán được tất cả bao nhiê...   NaN
                                                    Hỏi cửa hàng buổi chiều bán được nhiều hơn buổ...   NaN

                                                                                                       Spans
Context                                            Question
Một của hàng buổi sáng bán được 12 xe đạp, buổi...  Hỏi hai buổi cửa hàng bán được tất cả bao nhiê...    NaN
                                                    Hỏi cửa hàng buổi chiều bán được nhiều hơn buổ...    NaN
                                                    Hỏi cửa hàng buổi sáng bán được ít hơn buổi ch...    NaN
Một của hàng sáng sớm bán được 12 xe đạp, xế ch...  Hỏi hai buổi cửa hàng bán được tất cả bao nhiê...    NaN
                                                    Hỏi cửa hàng buổi chiều bán được nhiều hơn buổ...    NaN

In [7]:
df.dropna(how='all', inplace=True)
print(df.shape)
df.info()

(692, 4)
<class 'pandas.core.frame.DataFrame'>
MultiIndex: 692 entries, ('Một của hàng buổi sáng bán được 12 xe đạp, buổi chiều bán được 20 xe đạp.', ' Hỏi hai buổi cửa hàng bán được tất cả bao nhiêu xe đạp ?') to ('Hoa cân nặng 32kg, Mỹ cân nặng hơn Hoa 9kg.', 'Hỏi Mỹ cân nặng bao nhiêu ki-lô-gam ?')
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Answer  692 non-null    object
 1   Number  684 non-null    float64
 2   Date    6 non-null      float64
 3   Spans   2 non-null      float64
dtypes: float64(3), object(1)
memory usage: 30.4+ KB

In [8]:
df['Number'].fillna(0, inplace=True)
df['Spans'].fillna(0, inplace=True)
df['Date'].fillna(0, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 692 entries, ('Một của hàng buổi sáng bán được 12 xe đạp, buổi chiều bán được 20 xe đạp.', ' Hỏi hai buổi cửa hàng bán được tất cả bao nhiêu xe đạp ?') to ('Hoa cân nặng 32kg, Mỹ cân nặng hơn Hoa 9kg.', 'Hỏi Mỹ cân nặng bao nhiêu ki-lô-gam ?')
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Answer  692 non-null    object
 1   Number  692 non-null    float64
 2   Date    692 non-null    float64
 3   Spans   692 non-null    float64
dtypes: float64(3), object(1)
memory usage: 30.4+ KB

In [9]:
df['Number'] = df['Number'].astype(bool)
df['Spans'] = df['Spans'].astype(bool)
df['Date'] = df['Date'].astype(bool)
print(df.Number.value_counts())
print(df.Spans.value_counts())
print(df.Date.value_counts())

True     684
False      8
Name: Number, dtype: int64
False    690
True       2
Name: Spans, dtype: int64
False    686
True       6
Name: Date, dtype: int64

In [10]:
df.reset_index(inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 692 entries, 0 to 691
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Context   692 non-null    object
 1   Question  692 non-null    object
 2   Answer    692 non-null    object
 3   Number    692 non-null    bool
 4   Date      692 non-null    bool
 5   Spans     692 non-null    bool
dtypes: bool(3), object(3)
memory usage: 18.4+ KB

In [11]:
df['Context'] = df['Context'].str.strip()
df['Question'] = df['Question'].str.strip()
df['Answer'] = df['Answer'].astype(str).str.strip()
df.set_index(['Context', 'Question'], inplace=True)
df.head()

                                                                                                      Answer  \
Context                                            Question
Một của hàng buổi sáng bán được 12 xe đạp, buổi... Hỏi hai buổi cửa hàng bán được tất cả bao nhiêu...     32
                                                   Hỏi cửa hàng buổi chiều bán được nhiều hơn buổi...      8
                                                   Hỏi cửa hàng buổi sáng bán được ít hơn buổi chi...      8
Một của hàng sáng sớm bán được 12 xe đạp, xế ch... Hỏi hai buổi cửa hàng bán được tất cả bao nhiêu...     32
                                                   Hỏi cửa hàng buổi chiều bán được nhiều hơn buổi...      8

                                                                                                       Number  \
Context                                            Question
Một của hàng buổi sáng bán được 12 xe đạp, buổi... Hỏi hai buổi cửa hàng bán được tất cả bao nhiêu...    True
                                                   Hỏi cửa hàng buổi chiều bán được nhiều hơn buổi...    True
                                                   Hỏi cửa hàng buổi sáng bán được ít hơn buổi chi...    True
Một của hàng sáng sớm bán được 12 xe đạp, xế ch... Hỏi hai buổi cửa hàng bán được tất cả bao nhiêu...    True
                                                   Hỏi cửa hàng buổi chiều bán được nhiều hơn buổi...    True

                                                                                                        Date  \
Context                                            Question
Một của hàng buổi sáng bán được 12 xe đạp, buổi... Hỏi hai buổi cửa hàng bán được tất cả bao nhiêu...  False
                                                   Hỏi cửa hàng buổi chiều bán được nhiều hơn buổi...  False
                                                   Hỏi cửa hàng buổi sáng bán được ít hơn buổi chi...  False
Một của hàng sáng sớm bán được 12 xe đạp, xế ch... Hỏi hai buổi cửa hàng bán được tất cả bao nhiêu...  False
                                                   Hỏi cửa hàng buổi chiều bán được nhiều hơn buổi...  False

                                                                                                       Spans
Context                                            Question
Một của hàng buổi sáng bán được 12 xe đạp, buổi... Hỏi hai buổi cửa hàng bán được tất cả bao nhiêu...  False
                                                   Hỏi cửa hàng buổi chiều bán được nhiều hơn buổi...  False
                                                   Hỏi cửa hàng buổi sáng bán được ít hơn buổi chi...  False
Một của hàng sáng sớm bán được 12 xe đạp, xế ch... Hỏi hai buổi cửa hàng bán được tất cả bao nhiêu...  False
                                                   Hỏi cửa hàng buổi chiều bán được nhiều hơn buổi...  False

In [12]:
df = df.reset_index()
df[df['Date']==True]

,Context,Question,Answer,Number,Date,Spans
612,Ngày 1 tháng 12 là thứ hai,Ngày 2 tháng 12 là thứ mấy ?,thứ ba,False,True,False
614,"Tuần này, thứ 7 là ngày 3 tháng 12","Tuần sau, thứ bảy là ngày bao nhiêu ?",ngày 10 tháng 12,False,True,False
616,"Tuần này, thứ 2 là ngày 1 tháng 12",Đến thứ 7 tuần sau sẽ là ngày ?,ngày 8 tháng 12,False,True,False
617,Thứ năm tuần này là ngày 22 tháng 4. Thứ năm t...,Thứ năm tuần sau là ngày thứ mấy ?,ngày 29 tháng 4.,False,True,False
683,"Toàn đi học ở trường bán trú, mỗi ngày Toàn ở ...",Hỏi Toàn đến trường lúc mấy giờ sáng ?,8 giờ,False,True,False
684,"Một trạm bơm phải bơm nước trong 6 giờ, bắt đầ...",Hỏi đến mấy giờ thì bơm xong ?,3 giờ chiều,False,True,False

In [13]:
df.loc[683, 'Answer'] = '8'
df.loc[683, 'Number'] = True
df.loc[683, 'Date'] = False
df.loc[684, 'Answer'] = '15'
df.loc[684, 'Number'] = True
df.loc[684, 'Date'] = False
df.loc[612, 'Answer'] = '3'
df.loc[612, 'Number'] = True
df.loc[612, 'Date'] = False
df[df['Date']==True]

,Context,Question,Answer,Number,Date,Spans
614,"Tuần này, thứ 7 là ngày 3 tháng 12","Tuần sau, thứ bảy là ngày bao nhiêu ?",ngày 10 tháng 12,False,True,False
616,"Tuần này, thứ 2 là ngày 1 tháng 12",Đến thứ 7 tuần sau sẽ là ngày ?,ngày 8 tháng 12,False,True,False
617,Thứ năm tuần này là ngày 22 tháng 4. Thứ năm t...,Thứ năm tuần sau là ngày thứ mấy ?,ngày 29 tháng 4.,False,True,False

### Preparing dataset

In [14]:
hasher = md5()
def func(question: str, answer: str, is_num: bool, is_date: bool, is_span: bool) -> dict:
    assert is_num + is_date + is_span == 1
    res = dict()
    res['question'] = question
    
    hasher.update(question.encode('utf-8'))
    res['query_id'] = hasher.hexdigest()
    
    res['answer'] = {
        'number': '',
        'date': {
            'day': '',
            'month': '',
            'year': ''
        },
        'spans': ''
    }
    if is_num:
        res['answer']['number'] = answer
    elif is_date:
        answer = re.sub('[^0-9]',' ', answer)
        answer = re.sub(' {2}', ' ', answer)
        answer = answer.strip().split()
        if len(answer) == 1:
            res['answer']['date']['day'] = answer[0]
        if len(answer) == 2:
            res['answer']['date']['month'] = answer[1]
        if len(answer) == 3:
            res['answer']['date']['year'] = answer[2]
    elif is_span:
        res['answer']['spans'] = answer
    return res

In [15]:
dataset = df
dataset['QA'] = dataset.apply(lambda row: func(row.Question, row.Answer, row.Number, row.Date, row.Spans), axis=1)
print(dataset.iloc[0]['QA'])
dataset = dataset[['Context', 'QA']]
dataset.head()

{'question': 'Hỏi hai buổi cửa hàng bán được tất cả bao nhiêu xe đạp ?', 'query_id': 'edf9032321d5f4fac4295f62fe5f4435', 'answer': {'number': '32', 'date': {'day': '', 'month': '', 'year': ''}, 'spans': ''}}

,Context,QA
0,"Một của hàng buổi sáng bán được 12 xe đạp, buổ...",{'question': 'Hỏi hai buổi cửa hàng bán được t...
1,"Một của hàng buổi sáng bán được 12 xe đạp, buổ...",{'question': 'Hỏi cửa hàng buổi chiều bán được...
2,"Một của hàng buổi sáng bán được 12 xe đạp, buổ...",{'question': 'Hỏi cửa hàng buổi sáng bán được ...
3,"Một của hàng sáng sớm bán được 12 xe đạp, xế c...",{'question': 'Hỏi hai buổi cửa hàng bán được t...
4,"Một của hàng sáng sớm bán được 12 xe đạp, xế c...",{'question': 'Hỏi cửa hàng buổi chiều bán được...

In [16]:
dataset = dataset.groupby('Context').QA.apply(list).reset_index()
dataset.head()

,Context,QA
0,"An cao 95cm, Bình thấp hơn An 5cm.",[{'question': 'Hỏi Bình cao bao nhiêu xăng-ti-...
1,"Anh 12 tuổi, anh hơn em 5 tuổi.",[{'question': 'Hỏi cả hai anh em bao nhiêu tuổ...
2,"Anh 12 tuổi, em ít hơn anh 5 tuổi.","[{'question': 'Hỏi em bao nhiêu tuổi ?', 'quer..."
3,"Anh 15 tuổi, Em kém anh 5 tuổi.","[{'question': 'Hỏi em bao nhiêu tuổi ?', 'quer..."
4,"Anh cao 165cm, em thấp hơn anh 33cm.",[{'question': 'Hỏi em cao bao nhiêu xăng-ti-mé...

In [17]:
dataset.iloc[0]['QA']

[{'question': 'Hỏi Bình cao bao nhiêu xăng-ti-mét ?',
  'query_id': 'aed5d205bb20983a5f5fb92ddbeb2780',
  'answer': {'number': '90',
   'date': {'day': '', 'month': '', 'year': ''},
   'spans': ''}},
 {'question': 'Hỏi cả hai bạn cao bao nhiêu xăng-ti-mét ?',
  'query_id': '397964761f9aa6bac6ba0c87727de339',
  'answer': {'number': '185',
   'date': {'day': '', 'month': '', 'year': ''},
   'spans': ''}},
 {'question': 'Hỏi cả An và Bình cao bao nhiêu xăng-ti-mét ?',
  'query_id': '989d27cfde45d0c2526f3e69f1e5f5bd',
  'answer': {'number': '185',
   'date': {'day': '', 'month': '', 'year': ''},
   'spans': ''}}]

In [18]:
def func(context: str, qas: list) -> dict:
    for qa in qas:
        assert 'question' in qa
        assert 'answer' in qa
        assert qa['question'] != ''
        assert qa['answer']['number'] != '' or qa['answer']['date'] != '' or qa['answer']['spans'] != ''
    res = dict()
    res['context'] = context
    res['qas'] = qas
    return res

## Exporting JSON

In [20]:
export_ds = dataset.apply(lambda row: func(row.Context, row.QA), axis=1)
with open('../fixtures/vimarc.json', 'w', encoding='utf-8') as file:
    export_ds.to_json(file, force_ascii=False)

dataset_reader.ipynb  Lop2_Extend.xlsx       vimarc.json
demo_allennlp.ipynb   prepare_dataset.ipynb